<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="utils.User"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoneyTracker"
        tools:ignore="MissingClass">
        <activity
            android:name=".Views.activity.EditTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".Views.activity.ProfileSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.MoneyTracker" />
        <activity
            android:name=".Views.activity.FontSizeActivity"
            android:exported="false"
            android:theme="@style/Theme.MoneyTracker"/>
        <activity
            android:name=".Views.activity.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Views.activity.ExportSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.MoneyTracker" />
        <activity
            android:name=".Views.activity.LanguageSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.MoneyTracker" />
        <activity
            android:name=".Views.activity.CurrencySettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.MoneyTracker" />
        <activity
            android:name=".Views.activity.AddCategoryActivity"
            android:exported="false"
            android:theme="@style/Theme.MoneyTracker" />
        <activity
            android:name=".Views.activity.CategorySettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.MoneyTracker" />
        <activity
            android:name=".Views.activity.NotificationSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.MoneyTracker" />
        <activity
            android:name=".Views.activity.AddRemindersActivity"
            android:exported="false"
            android:theme="@style/Theme.MoneyTracker" />
        <activity
            android:name=".Views.activity.ReminderActivity"
            android:exported="false"
            android:theme="@style/Theme.MoneyTracker" />
        <activity
            android:name=".Views.activity.AddBudgetActivity"
            android:exported="false"/>
        <activity
            android:name=".Views.activity.BudgetActivity"
            android:exported="false"
            android:theme="@style/Theme.MoneyTracker" />
        <activity
            android:name=".Views.activity.AddAndEditAccount"
            android:exported="false"
            android:theme="@style/Theme.MoneyTracker" />
        <activity
            android:name=".Views.activity.UsersFeedBack"
            android:exported="false"
            android:theme="@style/Theme.MoneyTracker" />
        <activity
            android:name=".Views.activity.TermsAndConditions"
            android:exported="false"
            android:theme="@style/Theme.MoneyTracker" />
        <activity
            android:name=".Views.activity.PrivacyAndPolicy"
            android:exported="false"
            android:theme="@style/Theme.MoneyTracker" />
        <activity
            android:name=".Views.activity.DeleteAllDataActivity"
            android:exported="false"
            android:theme="@style/Theme.MoneyTracker" />
        <activity
            android:name=".Views.activity.AccountManagement"
            android:exported="false"
            android:theme="@style/Theme.MoneyTracker" />
        <activity
            android:name=".Views.activity.EditDeleteActivity"
            android:exported="false"
            android:theme="@style/Theme.MoneyTracker" />
        <activity
            android:name=".Views.activity.AddTransactionActivity"
            android:exported="false"
            android:theme="@style/Theme.MoneyTracker" />
        <activity
            android:name=".Views.activity.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.MoneyTracker" />
        <activity
            android:name=".Views.activity.Splash_Screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.activity.LogInActivity"
            android:exported="false" />
        <activity
            android:name=".Views.activity.MainActivity"
            android:exported="true" /> <!-- Notification Receiver -->


        <receiver
            android:name=".utils.NotificationReceiver"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>